<div class="p-12">
  <div class="p-4 max-w-sm mx-auto bg-white rounded-xl shadow-md flex items-center space-x-4">
    <div>
      <div class="text-xl font-medium text-black">Test Tailwind CSS</div>
      <p class="text-gray-500">This is test text!</p>
    </div>
  </div>
  <div class="text-center p-4">
    <button type="button" class="text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2" (click)="showSuccess()">Show Success Notification</button>
  </div>
</div>